body
{
  background: url("../img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vertical_container
{
  min-width: 80%;
  max-width: 80%;
}

#top
{
  display: flex;
  flex-direction: column;
}

#headerbar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
}
#headerbar a
{
  text-decoration: none;
}
#headerbar a:visited
{
  color: #5B9FC1;
}
#headerbar a:hover
{
  color: #5B9FC1;
}
.text_legend
{
  color: #FFFFFF;
}
.text_value
{
  color: #5B9FC1;
}
.spaced_column
{
  padding-left: 10px;
  padding-right: 10px;
}
#player_time
{
  color: #888888;
}

#top_internal_container
{
  display: flex;
  flex-direction: row;
  min-width: 70%;
  max-width: 70%;
  margin: auto;
  align-items: center;
  justify-content: stretch;
}

#pagereloader
{
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
}

#top_events_container
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;
}

#resources
{
  display: flex;
  flex-direction: row;
}
.resource_info
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  align-items: center;
  color: #91A3B5;
}
#eventsbar
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.event_element
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  color: #5B9FC1;
  background-color: #252F3B;
  border: 3px #121815 groove;
}
#eventsbar h2
{
  flex-grow: 1;
}

#horizontal_container_wrapper
{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
#horizontal_internal_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  min-width: 70%;
  max-width: 70%;
}
#horizontal_container
{
  display: flex;
  flex-direction: row;
  margin: auto;
}

#left
{
  background-color: #03030388;
  height: 320px;
}

#left table
{
  border-spacing: 5px 2px;
}

.menu_item
{
  text-align: center;
  flex-shrink: 0;
  background-color: #222222;
  color: #888888;
  text-decoration: none;
  border: 6px #121815 groove;
  white-space: nowrap;
}
.menu_item a
{
  text-decoration: none;
}
.menu_item:hover
{
  background-color: #666666;
}
.menu_item a:visited
{
  color: #888888;
}
.menu_item a:hover
{
  color: #BBBBBB;
}
#menu_item_selected
{
  text-align: center;
  flex-shrink: 0;
  background-color: #666666;
  color: #BBBBBB;
  text-decoration: none;
  border: 6px #222222 groove;
  white-space: nowrap;
}
#menu_item_selected a
{
  text-decoration: none;
}
#menu_item_selected a:visited
{
  color: #BBBBBB;
}
.menu_icon
{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #222222;
  padding: 2px;
}

#middle
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

#galaxy_view_navigator
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #121815;
  border: 3px #000000 solid;
}

.galaxy_view_label
{
  color: #A9A9A9;
}

#galaxy_navigation
{
  display: flex;
  flex-direction: row;
}
.galaxy_element_selector
{
  margin: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
}
.galaxy_selector_previous
{
  min-width: 15px;
  min-height: 15px;
  background-image: url("img/arrow_previous.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #16222C;
  border: none;
}
.galaxy_selector_previous:hover, .galaxy_selector_previous:active
{
  background-color: #6A93B5;
}
.galaxy_index_selector
{
  width: 100px;
  max-height: 20px;
  text-align: center;
  min-width: 0;
  margin: 0px;
  padding: 0px;
  border: none;
  -moz-appearance:textfield;
}
.galaxy_selector_next
{
  min-width: 15px;
  min-height: 15px;
  background-image: url("img/arrow_next.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #16222C;
  border: none;
}
.galaxy_selector_next:hover, .galaxy_selector_next:active
{
  background-color: #6A93B5;
}
.galaxy_view_action
{
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #5B9FC1;
}
.galaxy_view_action:hover
{
  color: #FFFFFF;
  background-color: #ADCFE0;
}
.galaxy_view_action a
{
  text-decoration: none;
}
.galaxy_view_action a:visited
{
  color: inherit;
}

#galaxy_available_ships
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  background-color: #121815;
  font-size: smaller;
}

#system_data_header
{
  background-color: #121815;
}
.galaxy_item_header
{
  color: #FFFFFF;
  text-align: center;
}

.galaxy_item_container
{
  color: #FFFFFF;
}
.galaxy_item_position
{
  text-align: right;
  background-color: #00000055;
}
.galaxy_item_hidden
{
  visibility: hidden;
}
.galaxy_item_text
{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
  background-color: #111111AA;
}
.galaxy_item_status
{
  color: #AA0000;
  font-weight: bold;
}

.galaxy_action_spy, .galaxy_action_friend, .galaxy_action_message, .galaxy_action_mip
{
  min-width: 20px;
  min-height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6D8297;
  border: none;
}
.galaxy_action_spy
{
  background-image: url("img/spy.png");
}
.galaxy_action_friend
{
  background-image: url("img/friend.png");
}
.galaxy_action_message
{
  background-image: url("img/message.png");
}
.galaxy_action_mip
{
  background-image: url("img/mip.png");
}

.galaxy_normal_player
{
  color: #FFFFFF;
}
.galaxy_inactive_player
{
  color: #555555;
}
.galaxy_vacation_player
{
  color: #55FFFF;
}
.galaxy_noob_player
{
  color: #33FF33;
}
.galaxy_strong_player
{
  color: #FF3333;
}

#galaxy_fleet_messages
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
  background-color: #121815;
  font-size: smaller;
}
#galaxy_system_info
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-top: 2px;
  color: #5B9FC1;
  background-color: #121815;
}
#galaxy_system_info_action
{
  min-width: 20px;
  min-height: 20px;
  color: #FFFFFF;
  background-color: #5B9FC1;
  font-weight: bold;
  border-radius: 50%;
  border: none;
}
#galaxy_system_info_action:hover
{
  background-color: #ADCFE0;
}
#galaxy_system_info_action:active
{
  background-color: #D5E7EF;
}

#right
{
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: #03030388;
}
#planets_count_info
{
  color: #5B9FC1;
  background-color: #10181F;
  border: 4px #030303 solid;
  font-size: medium;
  white-space: nowrap;
  padding: 1px 10px;
}
.planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5B9FC1;
  font-size: medium;
  margin: 2px;
}
.planet_link_container:hover
{
  color: #94BF01;
}
.selected_planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #94BF01;
  font-size: medium;
  margin: 2px;
}

.planet_and_moon
{
  margin: 4px;
  width: 50px;
  height: 35px;
}
.planet
{
  width: 35px;
  height: 35px;
  position: relative;
  top: -8px;
  left: 11px;
}
.moon
{
  width: 25px;
  height: 25px;
  position: relative;
  top: -18px;
  left: -4px;
}

.planet_link
{
  text-decoration: none;
  white-space: nowrap;
}
.planet_link:hover
{
  color: inherit;
}
.planet_link:visited
{
  color: inherit;
}
.planet_coordinates
{
  font-size: small;
}

#contact
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 25px;
  bottom: 0px;
  color: #91A3B5;
}
#contact a
{
  text-decoration: none;
  white-space: nowrap;
}
#contact a:hover
{
  color: inherit;
}
#contact a:visited
{
  color: inherit;
}