body
{
  background-image: url("../img/background.jpeg");
  background-size: cover;
}

#vertical_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horizontal_container
{
  display: flex;
  flex-direction: row;
}

#top
{
  display: flex;
  flex-direction: column;
  
}
#top_internal_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#top_events_container
{
  display: flex;
  flex-direction: column;
}
#headerbar
{
  display: flex;
  flex-direction: row;
}
#resources
{
  display: flex;
  flex-direction: row;
}
.resource_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#eventsbar
{
  display: flex;
  flex-direction: row;
}

.menu_item
{
  text-align: center;
  flex-shrink: 0;
}
.menu_icon
{
  text-align: center;
}

#galaxy_available_ships
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.galaxy_item_header
{
  text-align: center;
}
.galaxy_item_container
{
  color: #FFFFFF;
}
.galaxy_item_position
{
  text-align: right;
}
.galaxy_item_hidden
{
  visibility: hidden;
}
.galaxy_item_text
{
  background-color: #111111;
}
.galaxy_normal_player
{
  color: #FFFFFF;
}
.galaxy_inactive_player
{
  color: #555555;
}
.galaxy_vacation_player
{
  color: #55FFFF;
}
.galaxy_noob_player
{
  color: #33FF33;
}
.galaxy_strong_player
{
  color: #FF3333;
}