body
{
  background-image: url("../img/background.jpeg");
  background-size: cover;
}

#overview_planet_desc_key
{
  text-align: left;
}

#overview_planet_desc_value
{
  text-align: right;
}

#overview_planet_construction_list
{
  text-align: center;
}