body
{
  background-image: url("../img/background.jpeg");
  background-size: cover;
}

#vertical_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horizontal_container
{
  display: flex;
  flex-direction: row;
}

#top
{
  display: flex;
  flex-direction: column;
  
}
#top_internal_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#top_events_container
{
  display: flex;
  flex-direction: column;
}
#headerbar
{
  display: flex;
  flex-direction: row;
}
#resources
{
  display: flex;
  flex-direction: row;
}
.resource_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#eventsbar
{
  display: flex;
  flex-direction: row;
}

.menu_item
{
  text-align: center;
  flex-shrink: 0;
  background-color: #222222;
  color: #888888;
  text-decoration: none;
}
.menu_item a {
  text-decoration: none;
}
.menu_item a:visited {
  color: #888888;
}
#menu_item_selected
{
  text-align: center;
  flex-shrink: 0;
  background-color: #666666;
  color: #BBBBBB;
  text-decoration: none;
}
#menu_item_selected a {
  text-decoration: none;
}
#menu_item_selected a:visited {
  color: #BBBBBB;
}
.menu_icon
{
  text-align: center;
}

#middle
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters_panel
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#category_fleets
{
  display: flex;
  flex-direction: row;
  word-wrap: nowrap;
  justify-content: space-around;
  flex-shrink: 0;
}
#category_communication
{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.mail_header, .mail_footer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mail_first
{
  margin-left: 5px;
}
.mail_previous, .mail_page, .mail_next
{
  margin-left: 5px;
  margin-right: 5px;
}
.mail_last
{
  margin-right: 5px;
}
.mail_container
{
  display: flex;
  flex-direction: column;
}
.mail_subject
{
  color: #46466D;
}
.mail_sender, .mail_content
{
  color: #999999;
}
.mail_delete{
  color: #FF2222
}