
.session_selector_options {
  color: #888888;
  background: linear-gradient(#0d1014, #141e26);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid #111;
}

.session_selector_options button {
  cursor: pointer;
}

.session_selector_last_session {
  color: #fff;
  background-color: #070a10;
}

.session_selector_last_session:hover {
  background-color: #101215;
}

.session_selector_last_session_disabled {
  color: #ccc;
  background-color: #303630;
}

.session_selector_last_session_disabled:hover {
  width: 300px;
  height: 50px;

  margin: 10px 20px 10px 20px;

  background-color: #303630;
}