body
{
  background: url("img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#presentation
{
  color: #FFFFFF;
  padding: 10px;
}
#content
{
  padding-bottom: 25px;
}

#contact
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 25px;
  bottom: 0px;
  color: #91A3B5;
}
#contact a
{
  text-decoration: none;
  white-space: nowrap;
}
#contact a:hover
{
  color: inherit;
}
#contact a:visited
{
  color: inherit;
}