body
{
  background: url("img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#presentation
{
  color: #FFFFFF;
}

h2, h3
{
  color: blueviolet;
  opacity: 0.25;
}

.form_wrapper
{
  background-color: #FF0000;
  width: 150px;
  height: 150px;
}
.form_elem
{
  background-color: #00FF00;
  width: 150px;
  height: 150px;
}
.form_input
{
  background-color: #0000FF;
  width: inherit;
  height: 100%;
}