body
{
  background: url("../img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vertical_container
{
  min-width: 80%;
  max-width: 80%;
}

#top
{
  display: flex;
  flex-direction: column;
}

#headerbar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
}
#headerbar a
{
  text-decoration: none;
}
#headerbar a:visited
{
  color: #5B9FC1;
}
#headerbar a:hover
{
  color: #5B9FC1;
}
.text_legend
{
  color: #FFFFFF;
}
.text_value
{
  color: #5B9FC1;
}
.spaced_column
{
  padding-left: 10px;
  padding-right: 10px;
}
#player_time
{
  color: #888888;
}

#top_internal_container
{
  display: flex;
  flex-direction: row;
  min-width: 70%;
  max-width: 70%;
  margin: auto;
  align-items: center;
  justify-content: stretch;
}

#pagereloader
{
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
}

#top_events_container
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;
}

#resources
{
  display: flex;
  flex-direction: row;
}
.resource_info
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  align-items: center;
  color: #91A3B5;
}
#eventsbar
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.event_element
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  color: #5B9FC1;
  background-color: #252F3B;
  border: 3px #121815 groove;
}
#eventsbar h2
{
  flex-grow: 1;
}

#horizontal_container_wrapper
{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
#horizontal_internal_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  min-width: 70%;
  max-width: 70%;
}
#horizontal_container
{
  display: flex;
  flex-direction: row;
  margin: auto;
}

#left
{
  background-color: #03030388;
  height: 320px;
}

#left table
{
  border-spacing: 5px 2px;
}

.menu_item
{
  text-align: center;
  flex-shrink: 0;
  background-color: #222222;
  color: #888888;
  text-decoration: none;
  border: 6px #121815 groove;
  white-space: nowrap;
}
.menu_item a
{
  text-decoration: none;
}
.menu_item:hover
{
  background-color: #666666;
}
.menu_item a:visited
{
  color: #888888;
}
.menu_item a:hover
{
  color: #BBBBBB;
}
#menu_item_selected
{
  text-align: center;
  flex-shrink: 0;
  background-color: #666666;
  color: #BBBBBB;
  text-decoration: none;
  border: 6px #222222 groove;
  white-space: nowrap;
}
#menu_item_selected a
{
  text-decoration: none;
}
#menu_item_selected a:visited
{
  color: #BBBBBB;
}
.menu_icon
{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #222222;
  padding: 2px;
}

#middle
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

#overview
{
  background: url("../img/planet_view.jpeg");
  background-size: 100% 100%;
  height: 320px;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#view_title
{
  margin-left: 5px;
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #06060644;
}

#overview_planet_info
{
  margin-right: 0px;
  margin: 0px 10px 10px auto;
  background-color: #06060644;
  visibility: hidden;
}

#overview_planet_desc_key
{
  text-align: left;
  color: #529BC8;
}

#overview_planet_desc_value, #overview_planet_options
{
  text-align: right;
  color: #FFFFFF;
}
#overview_planet_desc_value a
{
  text-decoration: none;
  white-space: nowrap;
}
#overview_planet_desc_value a:hover
{
  color: inherit;
  text-decoration: underline;
}
#overview_planet_desc_value a:visited
{
  color: inherit;
}

#overview_planet_bonus
{
  color: #FFFFFF;
}
#overview_planet_bonus a
{
  text-decoration: none;
  white-space: nowrap;
}
#overview_planet_bonus a:hover
{
  color: inherit;
  text-decoration: underline;
}
#overview_planet_bonus a:visited
{
  color: inherit;
}

#fleets_available_container
{
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  align-items: stretch;
}

#fleets_available_ships
{
  display: flex;
  flex-direction: row;
  background-color: #0D1014;
}
.fleet_ships_section
{
  margin-left: 5px;
  margin-right: 5px;
}
.fleet_ships_header
{
  color: #5B9FC1;
  text-align: center;
  background-color: #141E26;
  padding-top: 5px;
  padding-bottom: 5px;
}
#fleets_combat_ships
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0000FF;
}
#fleets_civil_ships
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FF00FF;
}
.fleet_ship_container
{
  /* TODO: Add max width/height */
  margin: 2px;
  background-color: #141E26;
}
.fleet_ship_name
{
  color: #224488;
}
.fleet_ship_available_count
{
  text-align: right;
  color: #FF8800;
}
.fleet_ship_selector
{
  text-align: right;
}

#right
{
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: #03030388;
}
#planets_count_info
{
  color: #5B9FC1;
  background-color: #10181F;
  border: 4px #030303 solid;
  font-size: medium;
  white-space: nowrap;
  padding: 1px 10px;
}
.planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5B9FC1;
  font-size: medium;
  margin: 2px;
}
.planet_link_container:hover
{
  color: #94BF01;
}
.selected_planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #94BF01;
  font-size: medium;
  margin: 2px;
}

.planet_and_moon
{
  margin: 4px;
  width: 50px;
  height: 35px;
}
.planet
{
  width: 35px;
  height: 35px;
  position: relative;
  top: -8px;
  left: 11px;
}
.moon
{
  width: 25px;
  height: 25px;
  position: relative;
  top: -18px;
  left: -4px;
}

.planet_link
{
  text-decoration: none;
  white-space: nowrap;
}
.planet_link:hover
{
  color: inherit;
}
.planet_link:visited
{
  color: inherit;
}
.planet_coordinates
{
  font-size: small;
}

#contact
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 25px;
  bottom: 0px;
  color: #91A3B5;
}
#contact a
{
  text-decoration: none;
  white-space: nowrap;
}
#contact a:hover
{
  color: inherit;
}
#contact a:visited
{
  color: inherit;
}