body
{
  background: url("../img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vertical_container
{
  min-width: 80%;
  max-width: 80%;
}

#top
{
  display: flex;
  flex-direction: column;
}

#headerbar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
}
#headerbar a
{
  text-decoration: none;
}
#headerbar a:visited
{
  color: #5B9FC1;
}
#headerbar a:hover
{
  color: #5B9FC1;
}
.text_legend
{
  color: #FFFFFF;
}
.text_value
{
  color: #5B9FC1;
}
.spaced_column
{
  padding-left: 10px;
  padding-right: 10px;
}
#player_time
{
  color: #888888;
}

#top_internal_container
{
  display: flex;
  flex-direction: row;
  min-width: 70%;
  max-width: 70%;
  margin: auto;
  align-items: center;
  justify-content: stretch;
}

#pagereloader
{
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
}

#top_events_container
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;
}

#resources
{
  display: flex;
  flex-direction: row;
}
.resource_info
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  align-items: center;
  color: #91A3B5;
}
#eventsbar
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.event_element
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  color: #5B9FC1;
  background-color: #252F3B;
  border: 3px #121815 groove;
}
#eventsbar h2
{
  flex-grow: 1;
}

#horizontal_container_wrapper
{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
#horizontal_internal_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  min-width: 70%;
  max-width: 70%;
}
#horizontal_container
{
  display: flex;
  flex-direction: row;
  margin: auto;
}

#left
{
  background-color: #03030388;
  height: 320px;
}

#left table
{
  border-spacing: 5px 2px;
}

.menu_item
{
  text-align: center;
  flex-shrink: 0;
  background-color: #222222;
  color: #888888;
  text-decoration: none;
  border: 6px #121815 groove;
  white-space: nowrap;
}
.menu_item a
{
  text-decoration: none;
}
.menu_item:hover
{
  background-color: #666666;
}
.menu_item a:visited
{
  color: #888888;
}
.menu_item a:hover
{
  color: #BBBBBB;
}
#menu_item_selected
{
  text-align: center;
  flex-shrink: 0;
  background-color: #666666;
  color: #BBBBBB;
  text-decoration: none;
  border: 6px #222222 groove;
  white-space: nowrap;
}
#menu_item_selected a
{
  text-decoration: none;
}
#menu_item_selected a:visited
{
  color: #BBBBBB;
}
.menu_icon
{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #222222;
  padding: 2px;
}

#middle
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #03030388;
}

#middle h3
{
  min-width: 650px;
  color: #5B9FC1;
  text-align: center;
  background-color: #141E26;
  padding-top: 5px;
  padding-bottom: 5px;
}

#rankings_container
{
  background-color: #10181F;
}

#filters_panel
{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#filter_categories
{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
#filter_types
{
  display: flex;
  flex-direction: row;
}

.filter_container
{
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0px 5px;
  padding: 5px;
  border: 2px #030303 solid;
  color: #414D4F;
  text-decoration: none;
}
.filter_container:hover
{
  background-color: #1F2C35;
}
.selected_filter_container
{
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0px 5px;
  padding: 5px;
  border-top: 2px #030303 solid;
  border-left: 2px #030303 solid;
  border-right: 2px #030303 solid;
  background-color: #22313B;
  color: #FFFFFF;
  text-decoration: none;
}
.filter_icon
{
  width: 60px;
  margin: auto;
  padding: 5px;
}
.filter_name
{
  white-space: nowrap;
  text-align: center;
  font-size: smaller;
}

.players
{
  border-radius: 4px;
  background-color: #327599;
  box-shadow: inset 0 0 10px #000000;
}
.guilds
{
  border-radius: 4px;
  background-color: #339778;
  box-shadow: inset 0 0 10px #000000;
}
.points
{
  border-radius: 4px;
  background-color: #8A862C;
  box-shadow: inset 0 0 10px #000000;
}
.economy
{
  border-radius: 4px;
  background-color: #5D5D5D;
  box-shadow: inset 0 0 10px #000000;
}
.research
{
  border-radius: 4px;
  background-color: #8FC02A;
  box-shadow: inset 0 0 10px #000000;
}
.military
{
  border-radius: 4px;
  background-color: #C52B29;
  box-shadow: inset 0 0 10px #000000;
}

#rankings_data
{
  margin: 10px;
  background-color: #0D1014;
}

#filters_pages
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.selected_filters_page
{
  color: #FFFFFF;
  margin: 0px 5px 0px 5px;
  border: 1px #000000 solid;
  background-color: #22313B;
  text-decoration: none;
  text-align: center;
  font-size: smaller;
  min-width: 15px;
  min-height: 15px;
}
.filters_page
{
  color: #9B9B95;
  margin: 0px 5px 0px 5px;
  border: 1px #22313B solid;
  background-color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: smaller;
  min-width: 15px;
  min-height: 15px;
}
.filters_page:hover
{
  background-color: #22313B;
  text-decoration: underline;
}

#quick_filters_pages
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  color: #9B9B95;
  font-size: larger;
  font-weight: bold;
}
#rankings_page
{
  background-color: #141E26;
  text-align: left;
  min-width: 150px;
  color: #9B9B95;
  border-radius: 4px;
  border: 1px #000000 solid;
}

#rankings_raw_data
{
  min-width: 630px;
  background-color: #000000;
}
#rankings_raw_data tr:nth-child(even)
{
  background-color: #0D1014;
}
#rankings_raw_data tr:nth-child(odd)
{
  background-color: #12171C;
}

.rank_header
{
  font-size: smaller;
}
.rank_position, .rank_progress, .rank_nickname, .rank_action, .rank_points
{
  vertical-align: middle;
  padding: 3px;
}
.rank_position
{
  color: #717C76;
  text-align: left;
  font-size: smaller;
}
.rank_progression
{
  text-align: center;
}
.rank_nickname
{
  color: #717C76;
  text-align: left;
  font-size: smaller;
}
.rank_action
{
  color: #717C76;
  text-align: left;
}
.rank_points
{
  color: #717C76;
  text-align: right;
  font-weight: bold;
}

.no_change, .rank_up, .rank_down
{
  max-width: 10px;
  max-height: 10px;
}
.rank_up_text
{
  color: #89AB33;
  font-size: smaller;
}
.rank_down_text
{
  color: #BC3939;
  font-size: smaller;
}

.player_guild
{
  color: #5B9FC1;
}
.player_honorific_positive
{
  color: #89AB33;
}
.player_honorific_negative
{
  color: #BC3939;
}

.player_action_friend, .player_action_message
{
  min-width: 20px;
  min-height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6D8297;
  border: none;
  box-shadow: inset 0 0 5px #000000;
}
.player_action_friend:hover, .player_action_message:hover
{
  background-color: #B6C0CB;
}
.player_action_friend
{
  background-image: url("img/friend.png");
}
.player_action_message
{
  background-image: url("img/message.png");
}

#right
{
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: #03030388;
}
#planets_count_info
{
  color: #5B9FC1;
  background-color: #10181F;
  border: 4px #030303 solid;
  font-size: medium;
  white-space: nowrap;
  padding: 1px 10px;
}
.planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5B9FC1;
  font-size: medium;
  margin: 2px;
}
.planet_link_container:hover
{
  color: #94BF01;
}
.selected_planet_link_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #94BF01;
  font-size: medium;
  margin: 2px;
}

.planet_and_moon
{
  margin: 4px;
  width: 50px;
  height: 35px;
}
.planet
{
  width: 35px;
  height: 35px;
  position: relative;
  top: -8px;
  left: 11px;
}
.moon
{
  width: 25px;
  height: 25px;
  position: relative;
  top: -18px;
  left: -4px;
}

.planet_link
{
  text-decoration: none;
  white-space: nowrap;
}
.planet_link:hover
{
  color: inherit;
}
.planet_link:visited
{
  color: inherit;
}
.planet_coordinates
{
  font-size: small;
}

#contact
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 25px;
  bottom: 0px;
  color: #91A3B5;
}
#contact a
{
  text-decoration: none;
  white-space: nowrap;
}
#contact a:hover
{
  color: inherit;
}
#contact a:visited
{
  color: inherit;
}