
.footer_layout {
  height: 5%;
  background-color: #000c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon {
  max-width: 40px;
  max-height: 40px;

  margin: 0px 10px 0px 10px;
}

.footer_layout a {
  text-decoration: none;
}
.footer_layout a:visited {
  color: #888888;
}
.footer_layout a:hover {
  color: #BBBBBB;
}
