
.lobby_layout {
  background-color: #0400;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.lobby_options {
  color: #888888;
  background: linear-gradient(#0d1014, #141e26);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid #111;
}

.lobby_session_options {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  border: solid #111;
}

.lobby_session_actions {
  min-height: 50px;

  display: flex;
  flex-direction: row;
}

.lobby_action_button {
  color: #fff;
  background-color: #031a23;

  flex-grow: 1;

  font-size: large;
  font-weight: bold;

  border: none;
}

.lobby_action_button:hover, .lobby_action_button_selected {
  color: #fff;
  background-color: #395b77;

  flex-grow: 1;

  font-size: large;
  font-weight: bold;

  border: none;
}

.lobby_session_items {
  background: linear-gradient(#395b77, #000000);
}

.lobby_session_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  margin: 20px 30px 20px 30px;
}

.lobby_session_item a {
  color: #6f9fc8;

  text-decoration: none;
}
.lobby_session_item a:visited {
  color: #6f9fc8;
}
.lobby_session_item a:hover {
  color: #6f9fc8;

  text-decoration: underline;
}

.lobby_session_item span {
  font-weight: bold;
}

.lobby_session_item input {
  margin-top: 10px;
}

.lobby_button {
  width: 300px;
  height: 50px;

  margin: 10px 20px 10px 20px;

  font-size: large;
  font-weight: bold;

  border: none;
  border-radius: 5px;
}

.lobby_button:hover {
  width: 320px;
  height: 60px;

  margin: 5px 10px 5px 10px;
}

.lobby_play {
  color: black;
  background-color: #0c0a;
}

.lobby_play:hover {
  background-color: #0e0f;
}

.lobby_last_session {
  color: #fff;
  background-color: #070a10;
}

.lobby_last_session:hover {
  background-color: #101215;
}

.lobby_last_session_disabled {
  color: #ccc;
  background-color: #303630;
}

.lobby_last_session_disabled:hover {
  width: 300px;
  height: 50px;

  margin: 10px 20px 10px 20px;

  background-color: #303630;
}
